/* Common styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Desktop styles */
@media only screen and (min-width: 768px) {
    #sidebar {
        width: 220px;
        position: fixed;
        top: 40px;
        bottom: 0;
    }

    #content {
        margin-left: 240px; /* Adjusted to accommodate sidebar width */
        margin-top: 105px; /* Adjusted to accommodate topbar */
    }


}

/* Mobile styles */
@media only screen and (max-width: 767px) {
    #sidebar {
        width: 100%;
        position: static;
    }

    #content {
        margin-left: 0;
        margin-top: 145px; /* Adjusted to accommodate topbar */
    }

    
}


/* Common styles */
#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../css/BgV2.png');
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

#topbar {
    background-color: #0f5298;
    color: #fff;
    padding: 25px;
    padding-bottom: 45px;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#topbar h2 {
    font-weight: normal; /* Add this rule to set the font weight to normal */
    font-size: 30px; /* Add this rule to increase the font size */
    margin-top: 15px;
}
#topbar .dropdown {
    position: absolute;
    top: 50%;
    left: 87%;
    transform: translateY(-50%);
    cursor: pointer;
}

#topbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1000;
    color: #000000;
}

#topbar .dropdown:hover .dropdown-content {
    display: block;
}

#topbar .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

#topbar .dropdown-content a:hover {
    background-color: #f1f1f1;
}

#sidebar {
    background-color: #2565AE;
    color: #fff;
    padding: 10px;
    z-index: 999;
    width: 175px;
}

#sidebar h1 {
    margin-bottom: 20px;
    text-align: center;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

#sidebar-content {
    margin-top: 92px;
    margin-left: 15px;
}

.sidebar-link {
    text-decoration: none; /* Remove default underline */
    color: black; /* Set the initial color */
    transition: transform 0.1s ease; /* Add transition effect to transform property */
}

.sidebar-link:hover {
    transform: scale(1.1); /* Scale up the size on hover */
}

#content {
    margin-top:65;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px; /* Adjusted to accommodate topbar */
    margin-left: 240px; /* Adjusted to accommodate sidebar width */
    margin-right: 20px; /* Adjusted to create space between sidebar and content */
}


#content h2 {
    margin-top: 30px;
    color: #000000;
}

#book-list {
    margin-top: 20px;
    width: calc(100% - 260px); /* Adjusted width to fit content next to sidebar */
    overflow-x: auto;
}

#book-list table {
    width: 100%;
    border-collapse: collapse;
}

#book-list th,
#book-list td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

#book-list th {
    background-color: #f2f2f2;
    color: #333;
}

p {
    color: #000000;
    margin-top: 10px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Set form width */
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="number"],
textarea,
input[type="file"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add margin to the right of the "Edit" button */
.btn-primary.mr-2 {
    margin-right: 10px; /* Adjust the value as needed */
}
