/* Common styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Desktop styles */
@media only screen and (min-width: 768px) {
    #sidebar {
        width: 220px;
        position: fixed;
        top: 40px;
        bottom: 0;
    }

    #content-container {
        margin-left: 240px;
        margin-top: 70px;
    }

    .summary-box {
        width: auto;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
    }
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
    #sidebar {
        width: 100%;
        position: static;
    }

    #content-container {
        margin-left: 0;
        margin-top: 110px;
    }

    .summary-box {
        width: auto;
        margin-right: 20px;
        margin-bottom: 20px;
        float: none;
    }
}


/* Common styles */
#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../css/BgV2.png');
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

#topbar {
    background-color: #0f5298;
    color: #fff;
    padding: 25px;
    padding-bottom: 45px;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#topbar .dropdown {
    position: absolute;
    top: 50%;
    left: 87%;
    transform: translateY(-50%);
    cursor: pointer;
}
#topbar h2{
    color:#fff;
}
#topbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1000;
    color: #000000;
}

#topbar .dropdown:hover .dropdown-content {
    display: block;
}

#topbar .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

#topbar .dropdown-content a:hover {
    background-color: #f1f1f1;
}

#sidebar {
    background-color: #2565AE;
    color: #fff;
    padding: 10px;
    z-index: 999;
    width: 175px;
}

#sidebar h1 {
    margin-bottom: 20px;
    text-align: center;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

#sidebar-content {
    margin-top: 100px;
    margin-left: 15px;
}

.sidebar-link {
    text-decoration: none; /* Remove default underline */
    color: black; /* Set the initial color */
    transition: transform 0.1s ease; /* Add transition effect to transform property */
}

.sidebar-link:hover {
    transform: scale(1.1); /* Scale up the size on hover */
}

#content {
    margin-top: 130px; /* Adjusted to accommodate topbar */
    margin-left: 220px; /* Adjusted to accommodate sidebar width */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#book-list {
    margin-top: 20px; /* Add some space between topbar and book list */
    width: calc(100% - 220px); /* Adjusted width to fit content next to sidebar */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

#book-list table {
    width: 100%;
    border-collapse: collapse;
}

#book-list th,
#book-list td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

#book-list th {
    background-color: #f2f2f2;
    color: #333;
}

h2 {
    color: #000000;
    margin-bottom: 20px;
}

p {
    margin-top: 10px;
    color: #000000;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Set form width */
}

label {
    font-weight: bold;
    color: #333;
}

